{% extends "./base.html" %} {% block content %}
<div class="flex m-4">
  <table class="w-1/3 bg-gray-50">
    <caption class="caption-top text-3xl">
      User Info
    </caption>
    <tbody>
      <tr>
        <td class="table-header">{{ t!("id")|uppercase }}</td>
        <td class="table-cell">{{user_roles.user.id }}</td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("name")|capitalize }}</td>
        <td class="table-cell">{{user_roles.user.name }}</td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("username")|capitalize }}</td>
        <td class="table-cell">
          {% match user_roles.user.username %} {% when Some with (username) %}
          {{ username }} {% when None %} - {% endmatch %}
        </td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("email")|capitalize }}</td>
        <td class="table-cell">
          {% match user_roles.user.email %} {% when Some with (email) %} {{
          email }} {% when None %} - {% endmatch %}
        </td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("provider")|capitalize }}</td>
        <td class="table-cell">{{user_roles.user.provider }}</td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("last_sign")|capitalize }}</td>
        <td class="table-cell">
          {% match user_roles.user.last_sign %} {% when Some with (last_sign) %}
          {{ last_sign|time }} {% when None %} - {% endmatch %}
        </td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("created_at")|capitalize }}</td>
        <td class="table-cell">{{user_roles.user.created_at }}</td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("updated_at") }}</td>
        <td class="table-cell">
          {% match user_roles.user.updated_at %} {% when Some with (updated_at)
          %} {{ updated_at|time }} {% when None %} - {% endmatch %}
        </td>
      </tr>
      <tr>
        <td class="table-header">{{ t!("deleted_at")|capitalize }}</td>
        <td class="table-cell">
          {% match user_roles.user.deleted_at %} {% when Some with (deleted_at)
          %} {{ deleted_at|time }} {% when None %} - {% endmatch %}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="mx-6 h-fit w-1/2">
    <caption class="caption-top text-3xl">
      Roles
    </caption>
    <tbody>
      {% match user_roles.roles %} {% when Some with (roles) %} {% for role in
      roles %}
      <tr>
        <td class="table-header">{{ t!("role")|capitalize }}</td>
        <td class="table-cell">
          {{ role.name }}
          <a class="table-link" href="/roles/{{ role.id }}"> &#10142; </a>
        </td>
      </tr>
      {% endfor %} {% when None %} {% endmatch %}
    </tbody>
  </table>
</div>
{% endblock %}
