<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rust</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
      </ul>
      {% match username %}
      {% when Some with (username) %}
      <p class="text-white m-2">{{ username }}</p>
      <form action="/logout" method="post">
        <button class="btn btn-secondary btn-sm rounded-5" type="submit">Logout</button>
      </form>
      {% when None %}
      {% endmatch %}
    </div>
  </div>
</nav>