<nav class="flex justify-between items-center bg-gray-700 text-white w-full h-16 flex-row text-lg">
  <div class="flex flex-row items-center mx-4 px-4">
    <a class="bg-white font-bold text-xl text-gray-700 p-8" href="/">Multi Auth</a>
    <ul class="mx-4">
      <li class="mx-8">
        <a class="h-full" href="/users">{{ t!("users")|capitalize }}</a>
      </li>
    </ul>
  </div>
  <div class="flex flex-row items-center justify-between mx-4 px-4 h-full">
    {% include "partials/locale.html.jinja" %}

    <p class="mx-4">{{ username }}</p>
    <form action="/signout" method="post" class="bg-gray-600 px-4 h-full mx-2">
      <button class="h-full" type="submit">
        {{ t!("sign_out")|capitalize }}
      </button>
    </form>
  </div>
</nav>