{% extends "./guest.html" %} {% block content %}
<div class="bg-white p-2 text-center border rounded-xl shadow-md">
  <form method="post" action="/signup" class="my-4 p-2">
    <fieldset>
      <legend class="font-bold my-2 text-xl text-gray-500 mb-4">
        Sign up form
      </legend>
      <div class="my-2">
        <label for="username" class="p-2 w-40 inline-block text-right"
          >Name</label
        >
        <input
          required
          name="name"
          id="name"
          value="foo"
          class="border p-1 rounded-md border-gray-300"
        />
      </div>
      <div class="my-2">
        <label for="username" class="p-2 w-40 inline-block text-right"
          >Username</label
        >
        <input
          required
          name="username"
          id="username"
          value="ferris"
          class="border p-1 rounded-md border-gray-300"
        />
      </div>
      <p
        class="text-xs w-1/2 bg-gray-50 border my-2 mx-auto border-gray-200 p-1 text-gray-700"
      >
        Username must be at least 8 characters and must contain only letters,
        digits, dash and/or underscore.
      </p>

      <div class="my-2">
        <label for="password" class="p-2 w-40 inline-block text-right"
          >Password</label
        >
        <input
          required
          name="password"
          id="password"
          type="password"
          value="hunter42H"
          class="border p-1 rounded-md border-gray-300"
        />
      </div>
      <div class="my-2">
        <label for="password" class="p-2 w-40 inline-block text-right"
          >Confirm password</label
        >
        <input
          required
          name="password2"
          id="password2"
          type="password"
          value="hunter42H"
          class="border p-1 rounded-md border-gray-300"
        />
      </div>
    </fieldset>

    <p
      class="text-xs w-1/2 bg-gray-50 border my-2 mx-auto border-gray-200 p-1 text-gray-700"
    >
      Password must be at least 8 characters and must contain at least one
      uppercase , one lowercase letter and at least one digit.
    </p>

    <button
      type="submit"
      class="bg-gray-500 text-white border rounded-md p-1 my-1 px-2 cursor-pointer"
    >
      Sign Up
    </button>
  </form>
  <div class="m-2 mt-3 border-t pt-4">
    <a
      href="/google/oauth"
      class="bg-red-600 text-white border rounded-md roundedmy-4 w-fit text-center p-2 px-2 mx-2"
    >
      Sign in with google
    </a>

    <a
      href="/signin"
      class="bg-gray-700 text-white border rounded-md roundedmy-4 w-fit text-center p-2 px-2"
    >
      Sign in
    </a>
  </div>
</div>
{% endblock %}
