{% extends "./guest.html" %}
{% block content %}
<div class="bg-white w-1/2 p-2 text-center border rounded-xl shadow-md">
  <div class="p-2">
    <form method="post" action="/signup" class="my-4">
      <fieldset>
        <legend class="font-bold my-2 text-xl text-gray-500 mb-4">Sign up form</legend>
        <p class="my-2">
          <label for="username" class="p-2 w-16">Name</label>
          <input required name="name" id="name" value="foo" class="border p-1 rounded-md border-gray-300" />
        </p>
        <p class="my-2">
          <label for="username" class="p-2 w-16">Username</label>
          <input required name="username" id="username" value="ferris" class="border p-1 rounded-md border-gray-300" />
        </p>
        <p class="my-2">
          <label for="password" class="p-2 w-16">Password</label>
          <input required name="password" id="password" type="password" value="hunter42H" class="border p-1 rounded-md border-gray-300" />
        </p>
        <p class="my-2">
          <label for="password" class="p-2 w-16">Confirm Password</label>
          <input required name="password2" id="password2" type="password" value="hunter42H" class="border p-1 rounded-md border-gray-300" />
        </p>
      </fieldset>

      <button type="submit" class="bg-gray-500 text-white border rounded-md p-1 my-1 px-2 cursor-pointer">
        Sign Up</button>
    </form>
    <a href="/google/oauth" class="bg-red-600 text-white border rounded-md roundedmy-4 w-fit text-center p-2 px-2 mx-2">
      Sign in with google
    </a>

    <a href="/signin" class="bg-gray-700 text-white border rounded-md roundedmy-4 w-fit text-center p-2 px-2">
      Sign in
    </a>
  </div>

</div>
{% endblock %}