<!DOCTYPE html>
<html
  lang='{% if locale == "ar" %}ar{% else %}en{% endif %}'
  dir='{% if locale == "ar" %}rtl{% else %}ltr{% endif %}'
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" href="/assets/output.css" type="text/css" />
    <script defer src="/assets/script.js"></script>
    <title>
      {% block title %} {{ title|capitalize }} | Multi Auth {% endblock %}
    </title>
  </head>

  <body class="font-primary">
    {% include "partials/nav.html" %}
    <div id="content" class="min-h-screen my-1 px-4">
      <h1 class="text-3xl text-center border-b w-full py-4">
        {{ title|capitalize }}
      </h1>
      {% block content %} {% endblock %}
    </div>
    <footer
      class="mt-2 w-full bg-gray-700 text-white h-fit flex justify-center align-middle p-4"
    >
      <p class="">{{ t!("rights_reserved")|capitalize }}</p>
    </footer>
  </body>
</html>
