<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> Multi-Auth |
    {% block title %}
    {{ title }}
    {% endblock %}
  </title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <main>
    {% block content %}
    {% endblock %}</main>
  </main>
  <footer>
    <p>Copyright 2023 Company.Corp</p>
  </footer>
</body>

</html>