<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" href="assets/output.css" type="text/css" />
    <script defer src="assets/script.js"></script>
    <title>{% block title %} {{ title|capitalize }} | Multi Auth {% endblock %}</title>
  </head>

  <body class='bg-gray-400 font-primary' {% if locale == "ar" %} dir="rtl" {% endif %} >
    <div class="flex flex-col items-center mt-8">
      <div class="bg-white text-center border shadow-md rounded-xl w-1/2 mt-20">

        <div class="flex justify-center">
          <div
            class="p-4 px-6 text-xl text-black bg-white absolute rounded-b-3xl -top-1 shadow-xl"
          >
            <p>Multi Auth</p>
          </div>
        </div>

        {% if !messages.is_empty() %}
        <div
          class="shadow bg-red-500 text-white border border-red-800 text-center rounded-lg m-2"
        >
          {% for message in messages %}
          <p class="p-1 m-1">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}


        <div class="px-4">
          {% block content %} {% endblock %}
        </div>

      </div>
    </div>

  </body>
</html>
