<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" href="assets/output.css" type="text/css" />
    <script defer src="assets/script.js"></script>
    <title>{% block title %} {{ title }} | Multi Auth {% endblock %}</title>
  </head>

  <body class="bg-gray-400 font-primary py-8">
    <div class="flex flex-col items-center mt-8">
      <div class="w-1/2">
        {% if !messages.is_empty() %}
        <div
          class="shadow bg-red-500 text-white border border-red-800 p-2 rounded-xl text-center"
        >
          {% for message in messages %}
          <p class="p-1 m-1">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %} {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
