{% extends "layouts/base.html.jinja" %}
{% block content %}
<div class="w-full flex justify-center items-center my-4">
  <table class="table-auto border-collapse border border-gray-500 p-1">
    <thead class="p-2">
      <th class="table-header">ID</th>
      <th class="table-header">Name</th>
      <th class="table-header">Usename</th>
      <th class="table-header">Email</th>
      <th class="table-header">Provider</th>
      <th class="table-header">Created at</th>
      <th class="table-header">Last login</th>
      <th class="table-header">Updated at</th>
      <th class="table-header">Deleted at</th>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td class="table-cell">
          <a class="underline" href="/users/{{ user.id }}">{{ user.id }}</a>
        </td>
        <td class="table-cell">{{ user.name }}</td>
        <td class="table-cell">
          {% match user.username %} {% when Some with (username) %}
          {{ username }}
          {% when None %}
          -
          {% endmatch %}
        </td>
        <td class="table-cell">
          {% match user.email %}
          {% when Some with (email) %}
          {{ email }}
          {% when None %}
          -
          {% endmatch %}
        </td>
        <td class="table-cell">{{ user.provider }}</td>
        <td class="table-cell">{{ user.created_at|time }}</td>
        <td class="table-cell">
          {% match user.last_sign %}
          {% when Some with (last_sign) %}
          {{ last_sign|time}}
          {% when None %}
          -
          {% endmatch %}
        </td>
        <td class="table-cell">
          {% match user.updated_at %} {% when Some with (updated_at) %}
          {{ updated_at|time }}
          {% when None %}
          -
          {% endmatch %}
        </td>
        <td class="table-cell">
          {% match user.deleted_at %}
          {% when Some with (deleted_at) %}
          {{ deleted_at|time }}
          {% when None %}
          -
          {% endmatch %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}